<html>
    <head>
        <title>Disa's Blog</title>  
        <link rel="shortcut icon" href="http://goreorchids.com/GalleryStorage/disa/UNI74pt1.JPG" />
    </head>
    <body>
    <div>
        <h1><a href=" /">Disa's Blog</a></h1>
    </div>
    
    <div>
        <p>published: 17.12.2018, 18:36</p>
        <h2><a href="">My first post</a></h2>
        <p>My name is Disa (like the orchid). I am an orchid enthusiast and hope to share some tips
        with those who have similar interests </p>
        </div>
        
        <div>
            <p>published: 17.12.2018, 18:39</p>
            <h2><a href="">My second post</a></h2>
            <p>Today I am going to talk about taking care of yarra yarra blah blah</p>
        </div>
</body>
</html>